<main>
  @if (loading()) {
  <h3>Chargement des produits encours ...</h3>
  }@else {
  <header>
    <h3>{{ sectionTitle() }}</h3>
    @if (queryLimitCount() !== undefined) {
      <a [routerLink]="'/products/' + this.query()" class="action">
        <span>Voir plus</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
        >
          <path
            d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
          />
        </svg>
      </a>
    }
    
  </header>

  <div class="product-list-container">
    @for (product of products; track $index) {
    <a routerLink="" class="product-card">
      <img [src]="product.image" alt="image du produit" />
      <div class="product-info">
        <p class="truncate">{{ product.title }}</p>
        <p class="price">
          <b>$ {{ product.price }}</b>
        </p>
      </div>
    </a>
    }@empty {
    <p align="center">
      Oups! Aucun produit trouvé.
      <br />
      Vérifiez votre connexion Internet.
    </p>
    }
  </div>
  }
</main>
